name: Cargo Test

on:
  push:

jobs:
  test:
    name: Run cargo test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.91.1

      - name: Run tests
        run: cargo test --all --locked --verbose

      # - name: Install cargo utils
      #   run: cargo install cargo-audit cargo-deny cargo-tarpaulin cargo-chef

      # - name: Run cargo audit
      #   run: cargo audit

      # - name: Run cargo deny
      #   run: cargo deny check

      # - name: Run cargo tarpaulin
      #   run: cargo tarpaulin --fail-under 80
