name: e2e-yksign

on:
  push:


jobs:
  e2e-test:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Run e2e yksign test
        run: |
          scripts/e2e_yksign.sh
          